@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Global body color */
@layer base {
  body {
    background-color: white;
    color: #1f2937;
    transition: background-color 0.3s ease;
  }

  html.dark body {
    background-color: #212121;
    color: #f3f4f6;
  }
}